h1 {
    color : rgb(250, 206, 44);
    margin-top : 50px;
}
body {
    background-image : url('green-back.jpeg');
    background-size : cover;
    background-repeat : no-repeat;
    text-align : center;
    font-family : 'trebuchet ms', sans-serif;
    font-weight: bold;  
}
#message-el {
    background-color :antiquewhite;
    border-radius: 10px;
    max-width: 80%;
    margin : auto;
    
}
p {
    font-size : 20px;
}
