h1 {
    color : rgb(250, 206, 44);
    margin-top : 50px;
}
body {
    background-image : url('green-back.jpeg');
    background-size : cover;
    background-repeat : no-repeat;
    text-align : center;
    font-family : 'trebuchet ms', sans-serif;
    font-weight: bold;  
}
#box-el {
    background-color :antiquewhite;
    border-radius: 10px;
    max-width: 80%;
    height: 400px;
    margin : auto;
    
}
p {
    font-size : 20px;
}
button {
    padding : 10px 20px;
    font-size : 24px;
    background-color : rgb(250, 206, 44);
    border : none;
    border-radius : 5px;
    cursor: pointer;
    margin-bottom: 4px;
}

